.banner
{
    background-image: url(../../assets/imagens/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F4F4F4;
    height: 12.5em;
    display: flex;
    position: relative;
    top: 2em;
}
@media screen and (min-width: 440px)
{
    .banner
    {
        background-image: url(../../assets/imagens/banner1024x400png.png);
        background-position: top center;
        background-size: cover;
    }
}
@media screen and (min-width: 740px)
{
    .banner
    {
        background-image: url(../../assets/imagens/banner1500x700.png);
        background-position: top center;
        background-size: cover;
        height: 400px;
    }
}
@media screen and (min-width: 960px)
{
    .banner
    {
        position: relative;
        top: 3.875em;
        margin-bottom: 3em;
    }
}
.banner__frase
{
    font-family: 'Allura';
    font-size: 1.4375em;
    line-height: 1.4375em;
    color: #D1B042;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 8em;
    height: 1.4375em;
    background: #F4F4F4;
    opacity: 75%;
    align-self: center;
    border-radius: 3px;
}
@media screen and (min-width: 960px)
{
    .banner__frase
    {
        font-size: 2.375em;
    }
}