.mais__vendidos
{
    border-top: 1px solid rgba(112, 112, 112, .38);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (min-width: 500px)
{
    .mais__vendidos
    {
        justify-content: center;
    }
}
@media screen and (min-width: 740px)
{
    .mais__vendidos
    {
        margin-top: 3em;
    }
}
.mais__vendidos__title
{
    font-family: 'Poiret One';
    font-size: 26px;
    color: #373737;
    text-transform: Capitalize;
    text-align: center;
    margin-bottom: .875em;
    display: block;
    width: 100%;
}