.cat__route
{
    position: relative;
    top: 3.875em;
    display: flex;
    flex-direction: row;
}
@media screen and (min-width: 960px)
{
    .cat__route
    {
        top: 7em;
    }
}
.cat__route__product__image
{
    width: 9em;
    height: 12em;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
    margin-top: 0;
}
@media screen and (min-width: 740px)
{
    .cat__route__product__image
    {
        width: 13em;
        height: 15em;
    }
}
.cat__route__product__content
{
    display: flex;
}
.cat__route__product__informations
{
    margin-left: 1.575em;
    font-family: 'Century Gothic';
    font-size: .875em;
    font-weight: bold;
    text-transform: uppercase;
    color: #373737;
    line-height: 1.95;
}
@media screen and (max-width: 440px)
{
    .cat__route__product__content
    {
        flex-direction: column;
    }
    .cat__route__product__informations
    {
        margin-left: 0;
        margin-top: 1em;
    }
}
@media screen and (min-width: 960px)
{
    .cat__route__product__informations
    {
        margin-left: 4em;
    }
}
.cat__route__product__informations h1,
.cat__route__product__informations h3,
.cat__route__product__informations p
{
    margin: 0;
}
.cat__route__product__informations--complements
{
    color: #81817B;
}
.cat__route__sizes
{
    font-family: 'Century Gothic';
    font-weight: bold;
    line-height: 1.5;
    color: #81817B;
    background: transparent;
    border-radius: 2.5px;
    border: 1px solid #373737;
    outline: none;
    margin-right: 10px;
    margin-top: 10px;
}
.cat__route__sizes--selected
{
    background: rgba(#373737, .05);
    border: none;
    box-shadow: 0 0 2px black;
    color: #D1B042;
}
.cat__route__purchase
{
    font-family: 'Century Gothic';
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: bold;
    display: block;
    margin-top: 1em;
    background: rgba(#373737, .05);
    border: none;
    color: #373737;
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    outline: none;
}
.cat__route__purchase--clicked{
    box-shadow: 0 0 2px #D1B042;
}
.cat__route__invalidSize
{
    display: none;
    font-family: 'Century Gothic';
    color: red;
    text-transform: none;
}
.cat__route__purchase--backHome
{
    font-weight: normal;
    color: #81817B;
    font-size: .875em;
    display: inline-block;
    margin-top: 2em;
}
.cat__route__purchase--backHome i
{
    font-size: 1em;
}
.cat__route__product__amount
{
    margin-top: .575em;
}
.cat__route__product__amount h3
{
    display: inline-block;
}
.cat__route__product__amount span
{
    width: 1.575em;
    margin-right: .875em;
    margin-left: .375em;
    text-align: center;
}
.cat__route__product__amount__button
{
    background: transparent;
    margin-right: .675em;
    border: none;
    border-radius: 40%;
    vertical-align: middle;
    box-shadow: 0 0 3px black;
    outline: none;
}
.cat__route__product__amount p
{
    margin-top: .375em;
}
.cat__route__order__confirm__hide
{
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    width: 90vw;
    position: absolute;
    left: 5vw;
    background-color: none;
    display: none;
    z-index: 4;
    background-color: white;
}
.cat__route__order__confirm__header
{
    border-bottom: 1px solid #D1B042;
    padding: .775em .375em .375em .375em;
}
.cat__route__order__confirm__header__title
{
    font-size: .875em;
    font-family: "Century Gothic";
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #373737;
    display: inline-block;
    margin: 0;
}
.cat__route__order__confirm__header .fa
{
    font-size: 1.175em;
    color: red;
    position: absolute;
    right: 3%;
    top: 5%;
}
.cat__route__order__confirm__information
{
    font-size: .875em;
    font-family: "Century Gothic";
    color: #81817B;
    display: block;
    margin-left: 1em;
}
.cat__route__order__confirm__product
{
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 1em 0;
    padding: 1em .875em 1em .875em;
}
.cat__route__order__confirm__product img
{
    height: 100%;
    width: 30%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    display: inline-block;
}
.cat__route__order__confirm__product__description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cat__route__order__confirm__product__description figcaption
{
    font-family: "Century Gothic";
    font-weight: bold;
    display: block;
    margin-top: 1em;
    margin-left: 1em;
}
.cat__route__order__confirm__product__description__price
{
    color: #81817B;
    font-weight: normal;
}
@media screen and (min-width: 960px)
{
    
    .cat__route__order__confirm__hide
    {
        width: 50vw;
        left: 25vw;
        padding-bottom: 2em;
    }
    .cat__route__order__confirm__header
    {
        padding: 1em 1em .375em 1em;
    }
    .cat__route__order__confirm__header__title
    {
        font-size: 1em;
    }
    .cat__route__order__confirm__header .fa
    {
        vertical-align: middle;
        position: relative;
        left: 32%;
    }
    .cat__route__order__confirm__product
    {
        height: 13em;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .cat__route__order__confirm__product img
    {
        margin-top: 1em;
    }
}