html
{
  font-family: sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body
{
  font-size: 16px;
  padding-top: .3125em;
  margin: 0;
  height: 100vh;
}
.container
{
  max-width: 100%;
  padding: 1.28125em 2.26875em .58125em 2.26875em;
}