html
{
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body
{
  font-size: 16px;
  padding-top: .3125em;
  margin: 0;
}
.container
{
  max-width: 100%;
  padding: 1.28125em 2.26875em .58125em 2.26875em;
}
@media screen and (min-width: 990px)
{
    .container
    {
        max-width: 1200px;
        margin: 0 auto;
    }
}
.teste
{
  margin: 0;
  position: relative;
}